{% extends 'base.html.twig' %}

{% block title %}Edit TourGarde{% endblock %}

{% block body %}
    <h1>Edit TourGarde</h1>

    {{ include('tour_garde/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tour_garde_index') }}">back to list</a>

    {{ include('tour_garde/_delete_form.html.twig') }}
{% endblock %}
