{% extends 'base.html.twig' %}

{% block title %}New Laboratoire{% endblock %}

{% block body %}
    <h1>Create new Laboratoire</h1>

    {{ include('laboratoire/_form.html.twig') }}

    <a href="{{ path('laboratoire_index') }}">back to list</a>
{% endblock %}
