<form method="post" action="{{ path('kque_unite_delete', {'id': kque_unite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kque_unite.id) }}">
    <button class="btn">Delete</button>
</form>
