<form method="post" action="{{ path('code_a_t_c_delete', {'id': code_a_t_c.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ code_a_t_c.id) }}">
    <button class="btn">Delete</button>
</form>
